{% extends 'theme/base.html' %}
{% block subheader %} Wall {% endblock %}
{% block pagecontent %}


    {% if user.is_authenticated %}
    <div class="row" style="margin-bottom:10px; width: 590px; margin-left: auto; margin-right: auto;">
        <div class="col-sm-12">
            <h3 class="text-center">Tell us whats on your mind, {{ user.username }}</h3> 
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                       <textarea class="form-control" rows="1" name="new_post" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary ">Save post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>
    {% endif %}


        <ul>
        {% for message in messages %}
            <li class="well" style="list-style:none; width: 600px; margin-left: auto; margin-right: auto;">
                <p>Written by: {{ message.created_by }} </p>
                <blockquote>{{ message.message }}</blockquote> 

                <button type="button" class="add-likes-link btn btn-default" aria-label="Like" data-messageid="{{ message.id }}">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Like </span>
                </button>

                <h5 id="id-likes-for-message-{{ message.id }}" class="pull-right"> Likes: {{ message.likes }}</h5>
            </li>
        {% endfor %}
        </ul>


    <nav>
        <ul class="pager">
            {% if messages.has_previous %}
                <li class="previous">
                    <a href="?page={{ messages.previous_page_number }}">
                    <span aria-hidden="true"> &larr; </span> Forrige
                    </a>
                </li>
            {% endif %}
                <li>
                    <span class="current">
                        Side {{ messages.number }} av {{ messages.paginator.num_pages }}
                    </span>
                </li>
            {% if messages.has_next %}
                <li class="next">
                    <a href="?page={{ messages.next_page_number }}">
                        Neste <span aria-hidden="true"> &rarr; </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
