{% extends 'theme/base.html' %}
{% load staticfiles %}
{% block extra_head %} 
        <link rel="stylesheet" href="{% static "kvittr_messages/css/style.css" %}">
{% endblock extra_head %}
{% block subheader %} Message details {% endblock %}
{% block pagecontent %}

	<div class="well well_center">
		<h2>Written by: {{ message.created_by }} </h2>
		<h5>Published: {{ message.created_datetime }} </h5>
        
                <br>
        <blockquote>{{ message.message }}</blockquote> 


        {% if user.is_authenticated %}
        <button type="button" class="add-likes-link btn btn-default" aria-label="Like" data-messageid="{{ message.id }}">
        	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Like </span>
                {% endif %}
                <span class="label label-success label-as-badge" id="id-likes-for-message-{{ message.id }}">{{ message.likes }}</span>
        </button>
	</div>


{% endblock %}